
server:
  port: 18080

spring:
  application:
    name: nacos-cloud-example
  config:
    import: optional:nacos:elasticTp-nacos-cloud-example.yaml
  profiles:
    active: dev

  cloud:
    nacos:
      config:
        username: nacos
        password: nacos
        file-extension: yaml
        extension-configs:
          - data-id: elasticTp-nacos-cloud-example.yaml
            group: DEFAULT_GROUP
            refresh: true
      server-addr: 192.168.93.128:8848
# 开启 actuator endpoint 指标暴露
management:
  endpoints:
    web:
      exposure:
        include:
          - prometheus             # 暴露 Prometheus 端点
  metrics:
    prometheus:
      metrics:
        export:
          enabled: true            # 启用 Prometheus 导出
